<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>WBA2 - Projekt</title>

    <!-- Bootstrap core CSS -->
    <link href="http://localhost:3001/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custum CSS -->
    <link href="http://localhost:3001/bootstrap/css/custom.css" rel="stylesheet">

	<!-- JQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="http://localhost:3001/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">WBA2 - Projekt</h3>
      </div>

      <ol class="breadcrumb">
          <li><a href="http://localhost:3001/">User</a></li>
          <li><a href="http://localhost:3001/user/<%= user.id%>/event">Events</a></li>
          <li><a href="http://localhost:3001/user/<%= user.id%>/event/<%= event.id%>">Event: <%= event.name%></a></li>
      </ol>

      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= event.name%></h3>
          </div>
          <div class="panel-body">
            ID: <%= event.id%><br />
            Infos: <%= event.info%><br /><br />

    		Dienstleister:
            <ul id="dienstleister"><%
            if(Array.isArray(event.dienstleister))
            {
                for(var i = 0; i < event.dienstleister.length; i++){
                %>
                    <li><%= event.dienstleister[i].vorname%> <%= event.dienstleister[i].nachname%></li>
                <%
                }
            }
            %></ul><br />

    		<% if(event.user_vorhanden && user.rolle==="dienstleister") {%><p><button type="button" class="btn btn-default" id="absenden">austragen</button></p><% }%>
    		<% if(!event.user_vorhanden && user.rolle==="dienstleister") {%><p><button type="button" class="btn btn-default" id="absenden">eintragen</button></p><% }%>
         </div>
      </div>

      <footer class="footer">
        <p>&copy; Carolina Singh 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
  <script>
        // für event eintragen und austragen
        $('#absenden').click(function(){
            $.post('http://localhost:3001/user/<%= user.id%>/event/<%= event.id%>')
                .done(function() {
                    if($('#absenden').html() === 'austragen')
                    {
                        $('#absenden').html('eintragen');
                        $('#dienstleister > li').each(function(index) {
    						if($(this).text() == '<%= user.vorname%> <%= user.nachname%>') $(this).remove();
        				});
                    }
                    else
                    {
                        $('#absenden').html('austragen');
                        $('#dienstleister').append('<li><%= user.vorname%> <%= user.nachname%></li>')

                    }
                })
                .fail(function() {
                    alert("Es gab leider ein Fehler. Probieren Sie es noch einmal.");
                });
		});
    </script>
</html>
